/* Cambios Generales */


*{
    margin: 0;
    padding: 0;
}
body{
    background-color:black;
}

.img-fluid{
    width: 100%; 
    height: auto;
}

.borde-imagen{
    border-radius: 50px;
}

/* Estilo para la Barra de Navegacion */

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}



nav{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    border-bottom: 1px solid black;
    font-family: 'Fira Sans', sans-serif;
}

#icono-lateral{
    text-align: center;
    font-size: 40px;
    color: #f1f1f1;
}
.logo p{
    font-size: 38px;
}

.logo a{
    border: 1px solid #f1f1f1; 
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color: #f1f1f1;   
}
nav h3{
    text-align: center; 
    padding-top: 30px; 
    background-color: #1d1d1f; 
    color: black; 
    padding-bottom: 30px; 
    font-size: 25px;
    color: #f1f1f1;
}

/* Sistema de grillas general para organizar la pagina */

.gridIndex{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
}

header{
    grid-area: header; 
    position: fixed; 
    width: 100%;
}

main{
    grid-area: main; 
    background-color: #f1f1f1; 
    font-family: 'Ysabeau SC', sans-serif;
}

footer{
    grid-area: footer; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    background-color: #1d1d1f;
}

.gridMainIndex{
    display: grid;
    grid-template-areas: 
    "imagenPagina imagenPagina"
    "linea-negra linea-negra"
    "titulo-lauti icono"
    "parrafoImagenLauti icono"
    "parrafoImagenLauti2 icono"
    "parrafoImagenLauti3 icono"
    "linea-negra2 linea-negra2"
    "icono2 tituloPrincipal"
    "icono2 parrafoPrincipal"
    "linea-negra3 linea-negra3"
    "tituloSecundario icono3"
    "parrafoSecundario icono3"
    "linea-negra4 linea-negra4"
    "imagenPrincipal imagenSecundaria"
    ;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
}


/*-------------------------------------------------------------------------*/
.titulo-lauti{
    grid-area: titulo-lauti; 
    text-align: center; 
    margin-top: 50px; 
    font-family: 'Fira Sans', sans-serif; 
    margin-bottom: 50px;
}

.linea-negra{
    grid-area: linea-negra;
}

.linea-negra2{
    grid-area: linea-negra2;
}

.linea-negra3{
    grid-area: linea-negra3;
}

.linea-negra4{
    grid-area: linea-negra4;
}

.icono{
    grid-area: icono; 
    font-size: 200px; 
    text-align: center; 
    display: grid; 
    align-items: center;
    color: #1d1d1f;
}

.icono2{
    grid-area: icono2; 
    font-size: 200px; 
    text-align: center; 
    display: grid; 
    align-items: center;
    color: #1d1d1f;
}

.icono3{
    grid-area: icono3; 
    font-size: 100px; 
    text-align: center; 
    display: grid; 
    align-items: center;
    color: #1d1d1f;
}

.parrafoImagenLauti{
    grid-area: parrafoImagenLauti;
}

.parrafoImagenLauti2{
    grid-area: parrafoImagenLauti2;
}

.parrafoImagenLauti3{
    grid-area: parrafoImagenLauti3;
}

.parrafoImagenLauti p{
    padding: 0px 50px 20px 50px; 
    font-size: 20px; 
    text-align: justify;  
}

.parrafoImagenLauti2 p{
    padding: 20px 50px 20px 50px;
    font-size: 20px; 
    text-align: justify;
}

.parrafoImagenLauti3 p{
    padding: 20px 50px 20px 50px;
    font-size: 20px; 
    text-align: justify;
    margin-bottom: 50px; 
}

.imagenPagina{
    grid-area: imagenPagina; 
    margin: 300px 700px 300px 700px;
}

.imagenSecundaria{
    grid-area: imagenSecundaria; 
    padding: 50px;
}

.imagenPrincipal{
    grid-area: imagenPrincipal; 
    padding: 50px;
}

.tituloPrincipal{
    grid-area: tituloPrincipal; 
    text-align: center;
    margin-top: 50px; 
    margin-bottom: 50px; 
    background-color: #f1f1f1; 
    color: #1d1d1f; 
    font-family: 'Fira Sans', sans-serif;
}

.parrafoPrincipal{
    grid-area: parrafoPrincipal; 
    text-align: justify; 
    padding: 0px 50px 100px 100px; 
    background-color: #f1f1f1; 
    color: #1d1d1f; 
    font-size: 20px;
}

.parrafoSecundario{
    grid-area: parrafoSecundario; 
    text-align: justify; 
    padding: 0px 100px 100px 50px; 
    background-color: #f1f1f1; 
    color: black; 
    font-size: 20px;
}

.tituloSecundario{
    grid-area: tituloSecundario; 
    text-align: center; 
    margin-top: 50px; 
    margin-bottom: 50px; 
    font-family: 'Fira Sans', sans-serif;
    color: 
    #1d1d1f;
}

.titulo-footer{
    color: white; 
    display: flex; 
    padding: 50px; 
    align-items: center;
}

.titulo-footer h3{
    font-size: 60px; 
    border: 1px solid white; 
    padding: 20px;
}

.redes-sociales{
    color: white; 
    font-size: 30px;
    font-family: 'Fira Sans', sans-serif;
}

.redes-sociales a{
    color: white; 
    padding: 5px;
    font-size: 27px;
    font-weight: 500;
    border-radius: 10px;
    border: 2px solid;
    border-color: #1d1d1f;
    position: relative;
    margin-right: 200px;
    margin-left: 8px;
}

.redes-sociales a:hover{
    color: rgb(0, 0, 0) !important;
    box-shadow: 0 4px 16px rgb(255, 255, 255);
    transition: all 0.2s ease;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #1d1d1f; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    font-family: 'Fira Sans', sans-serif;
    
}

.sidenav h2{
    padding: 8px 8px 8px 32px;
}

/* Links para navegar en la barra lateral */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 23px;
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
/* Estilos para el boton que abre y cierra la bara lateral */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}

#main {
    transition: margin-left .5s;
    overflow:hidden;
    width:100%;
}


.topnav {
    background-color: #1d1d1f;
    overflow: hidden;
    color: #f1f1f1;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 30px;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}



